body {
    background-color: #f9f9f9;
}

.main-page{
    margin-top: 50px;
    display: grid;
    gap: 1rem;
    
}

.customer-containers {
    background: white;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.colored-word {
    color: rgb(169, 218, 96);
}