.hero {
  display: grid;
  height: 20rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  background-image: url('../../../assets/CleanerScrub.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 65%;
  
}

.main-hero {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 27rem;
  margin-top: -40px;
}

.main-hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(to left, transparent 40%, orange  40%);
  background-position: 51% 1.2em;
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-size: 25rem;
}

.main-hero p {
  font-size: 1.5rem;
  margin-left: 2rem;
}