.completed-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed-container-table {
    border-collapse: collapse;
    width: 98%;
    margin-left: 2rem;
}

.completed-container th, td {
    border: 1px solid black;
    padding: 8px;
}

.completed-container li {
    display: table-row;
}

.completed-table-header {
    text-decoration: underline orange 2px;;
    background-color: white;
    color: black;
    text-align: left;
}